.icon {
    padding: 7px;
    background: rgb(168, 179, 189);
    color: black;
    min-width: 50px;
    text-align: center;
  }

  .linkField {
    align-items: center;
    text-align: center;
    margin-top: 2%;
  }